@import "config";
@import "utilities";
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  #main-logo {
    // color: #fff;
    text-size: 3rem;
  }

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &.current {
      border-color: $main-color;
    }

    &:hover {
      border-color: $medium-color;
    }
  }
}
// Header
#header {
  &-home {
    background: $bg-img no-repeat center center/cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 20%;
      /* Overlay */
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);

      h1 {
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 4rem;
      }
    }
  }
}
